{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
<div class="offset-4 col-sm-4 align-content-center">
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('categorie_index') }}">back to list</a>
</div>
{% endblock %}
